*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main-card */

main > .main-card-title  {
    width: 100%;
    padding: 50px 250px;
    background-color: #121824;
    box-shadow: 0px 0px 10px;
}
main > .main-card-title > .title{
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: #253647;
}
main > .main-card-title > .title >h2{
    color: rgb(160, 104, 0);
}
main > .main-card-title > .title > p{
    color: aliceblue;
    margin-top: 20px;
    line-height: 30px;
}

main > .main-card-title > .main-card {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 50px 0px;

}
main > .main-card-title> .main-card > .card  {
    width: 310px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: #1b2232;
}
main > .main-card-title> .main-card > .card > .card-header {
    width: 100%;
    height: 60%;

}
main > .main-card-title> .main-card > .card > .card-header > img{
    width: 100%;
    height: 100%;
}
main > .main-card-title> .main-card > .card > .card-body {
    width: 100%;
    height: 40%;
    padding: 20px;
}
main > .main-card-title> .main-card > .card > .card-body > a{
    text-decoration: none;
    color: rgb(110, 155, 199);
    line-height: 25px;
    font-size: 15px;
}
main > .main-card-title> .main-card > .card > .card-body:hover > a{
    color: aliceblue;
    text-decoration: underline;
}