*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main > .main-detail{
    width: 100%;
    height: 230px;
    padding: 0px 185px;
    background-color: #091521;
}
main > .main-detail > .main-icon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: #091521; */
}
main > .main-detail > .main-icon > .box-icon{
    width: 12.5%;
    height: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
}
main > .main-detail > .main-icon > .box-icon > .box-img{
    width: 65px;
    height: 60%;
    border-radius: 20px;
    cursor: pointer;
    border: 1.5px solid#777;
    padding: 13px;
    transition: all .5s ease-in-out;

}
main > .main-detail > .main-icon > .box-icon:hover > .box-img{
    border:2px solid aliceblue;
    transition: all .5s ease-in-out;
}
main > .main-detail > .main-icon > .box-icon > .box-img > img {
    width: 35px;
    height: 35px;
    
}
main > .main-detail > .main-icon > .box-icon > a {
    color: aliceblue;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
}
main > .main-detail > .main-icon > .box-icon:hover > a{
    text-decoration: underline;
}
